<h1>All Offices</h1>

<% @offices.each do |office| %>
  <h2><%= office.name %></h2>
  <p>Capacity: <%= office.capacity %></p>
  <p>First Aid Available: <%= office.first_aid %></p>
  <p>Created At: <%= office.created_at%></p>
<% end %>
