<h1>All Programs</h1>

<% @programs.each do |program| %>
  <h2>Name: <%= program.name %></h2>
  <p>Number of Participants: <%= program.num_of_participants %></p>
  <p>Virtual Program? <%= program.virtual %></p>
<% end %>
