<h1>Welcome to National Parks</h1>

<h2>Browse our Offcies and Trails</h2>
<h3><%= link_to "All Backcountry Offices", offices_path %></h3>
<h3><%= link_to "All Trails", trails_path %></h3>

<h2>Browse our Parks and Programs</h2>
<h3><%= link_to "All Parks", "/parks" %></h3>
<h3><%= link_to "All Programs", "/programs" %></h3>
